a {
  color: $color__link;
  transition: opacity 0.3s;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:active {
    color: $color__link-hover;
    opacity: 0.5;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
