.container {
  .container.inner {
    border-radius: 20px;
    padding: var(--site-padding);
    background: $color__light-green;
    margin-bottom: var(--site-margin);
  }
}

select.orderby {
  border-radius: 10px;
  border: none;
}

.woocommerce {
  .onsale {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul.products {
    margin: var(--site-margin) 0 0;

    li.product {
      .price {
        color: $color__dark-green;
        font-weight: 600;
      }
      a {
        &.added_to_cart {
          margin-left: 0 !important;
          font-weight: 600;
          color: $color__dark-green;
        }
        img {
          border-radius: 20px;
        }
      }

      .button {
        background-color: $color__mid-green;
        color: $color__white;
        border-radius: 10px;
        padding: 15px 30px;
        text-align: center;
      }

      .onsale {
        background-color: $color__mid-green;
      }
    }
  }

  .cart_totals {
    h2 {
      margin-bottom: 0.5em;
    }
  }

  table.shop_table {
    background: $color__white;

    button {
      background-color: $color__mid-green;
      color: $color__white !important;

      &:hover {
        background-color: $color__mid-green !important;
        color: $color__white !important;
        opacity: 0.7;
      }
    }
  }

  .wc-proceed-to-checkout {
    a.checkout-button {
      background-color: $color__mid-green;

      &:hover {
        background-color: $color__mid-green;
      }
    }
  }

  form.checkout_coupon {
    button {
      background-color: $color__mid-green;
      color: $color__white !important;
      &:hover {
        background-color: $color__mid-green;
        opacity: 0.7;
      }
    }
  }

  form.checkout {
    input,
    textarea {
      border: none;
      border-radius: 5px;
      padding: 15px;
    }
  }
}
