.slide-in-panels {
  margin: var(--site-margin) 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;

  .panel {
    // max-width: 900px;
    width: calc(100% - var(--site-padding));
    background: $color__mid-green;
    color: $color__white;
    padding: var(--site-padding);
    border-radius: 0 20px 20px 0;

    &:nth-of-type(2n) {
      align-self: flex-end;
      background: $color__light-green;
      color: $color__dark-green;
      border-radius: 20px 0 0 20px;
    }

    h2 {
      font-size: 30px;
      font-family: "Now", sans-serif;
      letter-spacing: -0.03em;
      font-weight: 400;
      margin-bottom: 20px;
    }

    p {
      margin: 0 0 1em 0;
      font-size: 16px;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}

// tablet
@media (min-width: $tablet) {
  .slide-in-panels {
    .panel {
      width: 75%;

      h2 {
        font-size: 32px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

// small desktop
@media (min-width: $small-desktop) {
  .slide-in-panels {
    .panel {
      h2 {
        font-size: 36px;
      }
    }
  }
}

// desktop
@media (min-width: $desktop) {
  .slide-in-panels {
    .panel {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}
