@font-face {
  font-family: "Evolventa";
  src: url("assets/fonts/Evolventa/Evolventa-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Evolventa";
  src: url("assets/fonts/Evolventa/Evolventa-Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Now";
  src: url("assets/fonts/Now/Now-Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Now";
  src: url("assets/fonts/Now/Now-Black.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "The-Serif-Hand";
  src: url("assets/fonts/the-serif-hand/the-serif-hand-bold.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "The-Serif-Hand";
  src: url("assets/fonts/the-serif-hand/the-serif-hand-black.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "The-Serif-Hand";
  src: url("assets/fonts/the-serif-hand/the-serif-hand-extra-black.woff2")
    format("woff2");
  font-weight: 700;
}
